<% layout("/layouts/boilerplate.ejs") %>

<div class="alert alert-danger alert-dismissible fade show d-flex justify-content-between align-items-center" role="alert" id="alert">
        <div class="d-flex align-items-center">
            <i class="fa-solid fa-triangle-exclamation"></i>
            <span class="ms-2">
                <%= err.message %>
            </span>
        </div>
    </div>